@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: 300;
}
/* :root{
    --main__color: ;
    --main__size: ;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.main{
    width: 100%;
    background: rgb(189,235,247);
    background: linear-gradient(180deg, rgba(189,235,247,1) 0%, rgba(119,175,249,1) 100%);
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* position: relative; */
}

/* SECCIÓN INICIO */
.picture{
    width: 100%;
    max-width: 300px;
}
/* .picture2{
    display: none;
} */
.picture__image{
    height: 100%;
    width: 100%;
}
.input{
    margin-top: 30px;
}
/* .input:checked~.picture{
    opacity: 0;
    display: none;
}
.input:checked~.picture2{
    opacity: 1;
    display: inline-block;
} */
.link{
    position: absolute;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background-color: #4a6dad;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}
.link:hover{
    transform: rotate(90deg);
    background-color: #4f97dd;
    width: 55px;
    height: 55px;
}
.title__main{
    font-size: 36px;
    color: #2c4674;
    font-weight: bold;
    text-align: center;   
}
.title__second{
    color: #fff;
    text-align: end;
    display: block;
    font-weight: 300;
}
.paragraph{
    color: #2c4674;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}